.index-login {
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 1px;
	background-color: #fff;
}
.index-login > .register-form {
	display: none;
}
.index-login > .login-form, 
.index-login > .register-form {
	width: 92%;
	margin: 0 auto;	
}
.login-form > .line, 
.register-form > .line {
	width: 100%;
	padding-top: 20px;
	color: #393939;
	display: table;
}
.index-login .line > label,
.index-login .line > input {
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	height: 40px;
}
.index-login .line > label {
	width: 4rem;
}
.index-login .line > input {
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: 0 10px;
	border-bottom: 1px solid #dedede;
}

.index-login .line > input:focus {
	border-color: #5c90d2;
}
.index-login .line .err {
	border-color: #ff6666;
}
.index-login .link {
	float: right;
	padding-top: 10px;
	font-size: 14px;
	color: #5c90d2
}
.index-login .link > a {
	color: #5c90d2;
}
.index-login .link > a:active {
	text-decoration: underline;
}
/* 弹窗 */
.notifys {
	position: absolute;
    z-index: 5;
    bottom: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    width: 36vw;
    text-align: center;
    padding: 13px;
    border-radius: 3px;
    left: 50%;
    margin-left: -18vw;
}