{{!-- <h4>评论添加页面</h4> --}}
<div class="add-comment">
	<form class="add-cmt" action="/comment/add" method="post">
	    <div class="to">
	        <label for="to">to</label>
	        <input type="text" name="to" placeholder="评论哪条评论(选填, 不填认为是添加)" value="">
	    </div>

	    <div class="content">
	        <label for="content">content</label>
	        <textarea type="text" 
	        		  name="content" 
	        		  placeholder="评论内容(必填)" 
	        		  onChange="handleChange(event);"
	        		  value=""></textarea>
	    </div>
	    <button id="cmt-btn" type="submit" name="add_comment">提交</button>
	</form>
</div>
<script>
	function handleChange(e) {
        var target = e.target;
        console.log('1');
        // debugger;
        var clientHeight = target.clientHeight;
        var textLength = target.textLength;
        var scrollHeight = target.scrollHeight;

        if(clientHeight !== scrollHeight){
            target.style.height = scrollHeight + "px";
        }                                        
	}
</script>
